
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="" />

  <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="https://rasor.github.io/theme/stylesheet/style.min.css">

  <link rel="stylesheet" type="text/css" href="https://rasor.github.io/theme/pygments/github.min.css">
  <link rel="stylesheet" type="text/css" href="https://rasor.github.io/theme/font-awesome/css/font-awesome.min.css">

    <link href="https://rasor.github.io/static/custom.css" rel="stylesheet">

    <link href="https://rasor.github.io/feeds/all.atom.xml" type="application/atom+xml" rel="alternate" title="Rasor's Tech Blog Atom">


    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">



<meta name="author" content="rasor" />
<meta name="description" content="Using 3rd party libraries in Angular 2+ takes a while to become friends with. In this blog the Virtual Reality library A-Frame is what I want to use together with Angular CLI (Currently using Ng core: 5.2.0, Ng cli: 1.7.3). Code from the post can be …" />
<meta name="keywords" content="#ng, #aframe, #webpack, #vr">

<meta property="og:site_name" content="Rasor's Tech Blog"/>
<meta property="og:title" content="Dependency management in Angular CLI - Lib: A-Frame"/>
<meta property="og:description" content="Using 3rd party libraries in Angular 2+ takes a while to become friends with. In this blog the Virtual Reality library A-Frame is what I want to use together with Angular CLI (Currently using Ng core: 5.2.0, Ng cli: 1.7.3). Code from the post can be …"/>
<meta property="og:locale" content="en_US"/>
<meta property="og:url" content="https://rasor.github.io/dependency-management-in-angular-cli-lib-a-frame.html"/>
<meta property="og:type" content="article"/>
<meta property="article:published_time" content="2018-03-29 22:00:00+02:00"/>
<meta property="article:modified_time" content="2018-05-12 03:00:00+02:00"/>
<meta property="article:author" content="https://rasor.github.io/author/rasor.html">
<meta property="article:section" content="Develop"/>
<meta property="article:tag" content="#ng"/>
<meta property="article:tag" content="#aframe"/>
<meta property="article:tag" content="#webpack"/>
<meta property="article:tag" content="#vr"/>
<meta property="og:image" content="//s.gravatar.com/avatar/5b6cf6c4e0fa216452dccc8158bf673f?s=120">

  <title>Rasor's Tech Blog &ndash; Dependency management in Angular CLI - Lib: A-Frame</title>

</head>
<body>
  <aside>
    <div>
      <a href="https://rasor.github.io">
        <img src="//s.gravatar.com/avatar/5b6cf6c4e0fa216452dccc8158bf673f?s=120" alt="Rasor's Tech Blog" title="Rasor's Tech Blog">
      </a>
      <h1><a href="https://rasor.github.io">Rasor's Tech Blog</a></h1>

<p>... still playing with this Lego</p>
      <nav>
        <ul class="list">

          <li><a href="https://stackoverflow.com/users/750989/rasor" target="_blank">StackOverflow</a></li>
        </ul>
      </nav>

      <ul class="social">
        <li><a class="sc-twitter" href="https://twitter.com/rasor" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a class="sc-linkedin" href="https://www.linkedin.com/in/rasor" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        <li><a class="sc-wordpress" href="https://rasor.wordpress.com" target="_blank"><i class="fa fa-wordpress"></i></a></li>
        <li><a class="sc-github" href="https://github.com/rasor" target="_blank"><i class="fa fa-github"></i></a></li>
        <li><a class="sc-bitbucket" href="https://bitbucket.org/rasor" target="_blank"><i class="fa fa-bitbucket"></i></a></li>
        <li><a class="sc-rss" href="/feeds/all.atom.xml" target="_blank"><i class="fa fa-rss"></i></a></li>
      </ul>
    </div>


  </aside>
  <main>

    <nav>
      <a href="https://rasor.github.io">    Home
</a>

      <a href="/archives.html">Archives</a>
      <a href="/categories.html">Categories</a>
      <a href="/tags.html">Tags</a>
      <a href="/sitemap.xml">Sitemap</a>

      <a href="https://rasor.github.io/feeds/all.atom.xml">    Atom
</a>

    </nav>

<article class="single">
  <header>
      
    <h1 id="dependency-management-in-angular-cli-lib-a-frame">Dependency management in Angular CLI - Lib: A-Frame</h1>
    <p>
          Posted on March 29, 2018 in <a href="https://rasor.github.io/category/develop.html">Develop</a>

          </br>
            Updated: May 12, 2018
    </p>
  </header>


  <div>
    <p>Using 3rd party libraries in Angular 2+ takes a while to become friends with.
In this blog the Virtual Reality library <a href="https://aframe.io/">A-Frame</a> is what I want to use together with Angular CLI (Currently using Ng core: 5.2.0, Ng cli: 1.7.3).</p>
<p><em>Code from the post can be found <a href="https://github.com/rasor/ng-maze-vr-blank">here</a>.</em></p>
<h2>Problem #1 - Angular by default expects to know all html elements</h2>
<p>Given some A-Frame html (in this case separated in its own ng component) - aframe-vr.component.html having selector: 'aframe-vr' in class AframeVrComponent</p>
<div class="highlight"><pre><span></span><span class="c">&lt;!-- src/app/components/aframe-vr.component.html --&gt;</span>
<span class="p">&lt;</span><span class="nt">a-scene</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">a-box</span> <span class="na">position</span><span class="o">=</span><span class="s">&quot;-1 0.5 -4&quot;</span> <span class="na">scale</span><span class="o">=</span><span class="s">&quot;0.25 0.5 1&quot;</span> <span class="na">rotation</span><span class="o">=</span><span class="s">&quot;-45 0 0&quot;</span> <span class="na">color</span><span class="o">=</span><span class="s">&quot;#4CC3D9&quot;</span><span class="p">&gt;&lt;/</span><span class="nt">a-box</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">a-plane</span> <span class="na">position</span><span class="o">=</span><span class="s">&quot;0 -1 -4&quot;</span> <span class="na">rotation</span><span class="o">=</span><span class="s">&quot;-45 0 0&quot;</span> <span class="na">width</span><span class="o">=</span><span class="s">&quot;15&quot;</span> <span class="na">height</span><span class="o">=</span><span class="s">&quot;80&quot;</span> <span class="na">color</span><span class="o">=</span><span class="s">&quot;#7BC8A4&quot;</span><span class="p">&gt;&lt;/</span><span class="nt">a-plane</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">a-sky</span> <span class="na">color</span><span class="o">=</span><span class="s">&quot;#ECECEC&quot;</span><span class="p">&gt;&lt;/</span><span class="nt">a-sky</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">a-scene</span><span class="p">&gt;</span>
</pre></div>


<p>Angular will complain:</p>
<div class="highlight"><pre><span></span><span class="gd">--- console ---</span>
Uncaught Error: Template parse errors:
&#39;a-box&#39; is not a known element:
1. If &#39;a-box&#39; is an Angular component, then verify that it is part of this module.
2. If &#39;a-box&#39; is a Web Component then add &#39;CUSTOM_ELEMENTS_SCHEMA&#39; to the &#39;@NgModule.schemas&#39; of this component to suppress this message. (&quot;&lt;a-scene&gt;
  [ERROR -&gt;]&lt;a-box position=&quot;-1 0.5 -4&quot; scale=&quot;0.25 0.5 1&quot; rotation=&quot;-45 0 0&quot; color=&quot;#4CC3D9&quot;&gt;&lt;/a-box&gt;
</pre></div>


<h3>Solution #1.1</h3>
<p>And as it says there is an easy fix:</p>
<div class="highlight"><pre><span></span><span class="c1">// --- app.module.ts ---</span>
<span class="kr">import</span> <span class="p">{</span> <span class="nx">CUSTOM_ELEMENTS_SCHEMA</span> <span class="p">}</span> <span class="nx">from</span> <span class="s1">&#39;@angular/core&#39;</span><span class="p">;</span>

<span class="kd">@NgModule</span><span class="p">({</span>
  <span class="c1">// Allow elements not to be compiled by Angular </span>
  <span class="nx">schemas</span><span class="o">:</span> <span class="p">[</span><span class="nx">CUSTOM_ELEMENTS_SCHEMA</span><span class="p">]</span>
<span class="p">})</span>
</pre></div>


<h2>Problem #2 - You cannot load A-Frame in the main bundle</h2>
<p>I want to load A-Frame just before the component from above.</p>
<div class="highlight"><pre><span></span><span class="c1">// --- app.module.ts ---</span>
<span class="c1">// Require aframe in main bundle before an aframe component is loaded</span>
<span class="kr">import</span> <span class="s1">&#39;aframe&#39;</span><span class="p">;</span>
<span class="kr">import</span> <span class="s1">&#39;aframe-extras&#39;</span><span class="p">;</span>
<span class="kr">import</span> <span class="p">{</span> <span class="nx">AframeVrComponent</span> <span class="p">}</span> <span class="nx">from</span> <span class="s1">&#39;./components/aframe-vr/aframe-vr.component&#39;</span><span class="p">;</span>
</pre></div>


<p>In other words - I want to load A-Frame in the main bundle.  </p>
<h3>Result #2</h3>
<div class="highlight"><pre><span></span><span class="gd">--- console ---</span>
zone.js:2803 Uncaught TypeError: Cannot assign to read only property &#39;attributeChangedCallback&#39; of object &#39;[object HTMLElement]&#39;
    at eval (zone.js:2803)
    at Array.forEach (&lt;anonymous&gt;)
    at HTMLDocument.document.registerElement (`zone.js`:2789)
    at module.exports.registerElement (`aframe-master.js`:74843)
</pre></div>


<p>Sample <a href="https://github.com/rasor/ng-maze-vr-blank/tree/69b38f4b340fe14d1676e2749f78061e24254ac8">ng-maze-vr-blank/commit 4</a> demonstrates the problem.  </p>
<p>If you view-page-source of the page you will see</p>
<div class="highlight"><pre><span></span><span class="c">&lt;!-- index.html --&gt;</span>
<span class="p">&lt;</span><span class="nt">body</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">app-root</span><span class="p">&gt;&lt;/</span><span class="nt">app-root</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">script</span> <span class="na">type</span><span class="o">=</span><span class="s">&quot;text/javascript&quot;</span> <span class="na">src</span><span class="o">=</span><span class="s">&quot;inline.bundle.js&quot;</span><span class="p">&gt;&lt;/</span><span class="nt">script</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">script</span> <span class="na">type</span><span class="o">=</span><span class="s">&quot;text/javascript&quot;</span> <span class="na">src</span><span class="o">=</span><span class="s">&quot;polyfills.bundle.js&quot;</span><span class="p">&gt;&lt;/</span><span class="nt">script</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">script</span> <span class="na">type</span><span class="o">=</span><span class="s">&quot;text/javascript&quot;</span> <span class="na">src</span><span class="o">=</span><span class="s">&quot;styles.bundle.js&quot;</span><span class="p">&gt;&lt;/</span><span class="nt">script</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">script</span> <span class="na">type</span><span class="o">=</span><span class="s">&quot;text/javascript&quot;</span> <span class="na">src</span><span class="o">=</span><span class="s">&quot;vendor.bundle.js&quot;</span><span class="p">&gt;&lt;/</span><span class="nt">script</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">script</span> <span class="na">type</span><span class="o">=</span><span class="s">&quot;text/javascript&quot;</span> <span class="na">src</span><span class="o">=</span><span class="s">&quot;main.bundle.js&quot;</span><span class="p">&gt;&lt;/</span><span class="nt">script</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">body</span><span class="p">&gt;</span>
</pre></div>


<p><code>zone.js</code> is stored in <code>polyfills.bundle.js</code>,<br>
<code>aframe-master.js</code> (and all other node_modules from package.json) is stored in <code>vendor.bundle.js</code> and in<br>
<code>main.bundle.js</code> the error is thrown when we try to load A-Frame with <code>import 'aframe';</code></p>
<p>Tip: Do also install aframe types (so you can use it in TypeScript) by adding  </p>
<div class="highlight"><pre><span></span><span class="l l-Scalar l-Scalar-Plain">// --- package.json ---</span> 
  <span class="l l-Scalar l-Scalar-Plain">&quot;devDependencies&quot;</span><span class="p p-Indicator">:</span> <span class="p p-Indicator">{</span>
    <span class="s">&quot;@types/aframe&quot;</span><span class="p p-Indicator">:</span> <span class="s">&quot;^0.7.0&quot;</span><span class="p p-Indicator">,</span>
</pre></div>


<p><em>More details on @types: <a href="https://github.com/angular/angular-cli/wiki/stories-third-party-lib">3rd Party Library Installation</a></em></p>
<p>The blog ´<a href="https://medium.com/@pitipon/a-frame-with-angular-setup-project-5797b2f2a03b">A-frame with Angular</a>´ will tell you that you need to load A-Frame earlier - before zone.js. It suggests polyfills.js.  </p>
<h3>Solution attempt #2.1</h3>
<p>Angular CLI has a way to load libraries globally, as if they were in script tags.</p>
<ul>
<li>Remove the aframe import from app.module.ts</li>
<li>Add the A-Frame library to Angular Cli config</li>
</ul>
<div class="highlight"><pre><span></span><span class="l l-Scalar l-Scalar-Plain">// --- .angular-cli.json ---</span> 
  <span class="l l-Scalar l-Scalar-Plain">&quot;apps&quot;</span><span class="p p-Indicator">:</span> <span class="p p-Indicator">[</span>
    <span class="p p-Indicator">{</span>
      <span class="s">&quot;scripts&quot;</span><span class="p p-Indicator">:</span> <span class="p p-Indicator">[</span>
        <span class="s">&quot;../node_modules/aframe/dist/aframe-master.js&quot;</span><span class="p p-Indicator">,</span>
        <span class="s">&quot;../node_modules/aframe-extras/dist/aframe-extras.min.js&quot;</span>
      <span class="p p-Indicator">],</span>
</pre></div>


<h3>Result #2.1</h3>
<p>If you view-page-source of the page you will see</p>
<div class="highlight"><pre><span></span><span class="c">&lt;!-- index.html --&gt;</span>
<span class="p">&lt;</span><span class="nt">body</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">app-root</span><span class="p">&gt;&lt;/</span><span class="nt">app-root</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">script</span> <span class="na">type</span><span class="o">=</span><span class="s">&quot;text/javascript&quot;</span> <span class="na">src</span><span class="o">=</span><span class="s">&quot;inline.bundle.js&quot;</span><span class="p">&gt;&lt;/</span><span class="nt">script</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">script</span> <span class="na">type</span><span class="o">=</span><span class="s">&quot;text/javascript&quot;</span> <span class="na">src</span><span class="o">=</span><span class="s">&quot;polyfills.bundle.js&quot;</span><span class="p">&gt;&lt;/</span><span class="nt">script</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">script</span> <span class="na">type</span><span class="o">=</span><span class="s">&quot;text/javascript&quot;</span> <span class="na">src</span><span class="o">=</span><span class="s">&quot;styles.bundle.js&quot;</span><span class="p">&gt;&lt;/</span><span class="nt">script</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">script</span> <span class="na">type</span><span class="o">=</span><span class="s">&quot;text/javascript&quot;</span> <span class="na">src</span><span class="o">=</span><span class="s">&quot;scripts.bundle.js&quot;</span><span class="p">&gt;&lt;/</span><span class="nt">script</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">script</span> <span class="na">type</span><span class="o">=</span><span class="s">&quot;text/javascript&quot;</span> <span class="na">src</span><span class="o">=</span><span class="s">&quot;vendor.bundle.js&quot;</span><span class="p">&gt;&lt;/</span><span class="nt">script</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">script</span> <span class="na">type</span><span class="o">=</span><span class="s">&quot;text/javascript&quot;</span> <span class="na">src</span><span class="o">=</span><span class="s">&quot;main.bundle.js&quot;</span><span class="p">&gt;&lt;/</span><span class="nt">script</span><span class="p">&gt;&lt;/</span><span class="nt">body</span><span class="p">&gt;</span>
</pre></div>


<p>New is ´scripts.bundle.js´. </p>
<p>But still we have an error:</p>
<div class="highlight"><pre><span></span><span class="gd">--- console ---</span>
zone.js:2803 Uncaught TypeError: Cannot assign to read only property &#39;attributeChangedCallback&#39; of object &#39;[object HTMLElement]&#39;
    at eval (zone.js:2803)
    at Array.forEach (&lt;anonymous&gt;)
    at HTMLDocument.document.registerElement (zone.js:2789)
    at module.exports.registerElement (scripts.bundle.js:74843)
</pre></div>


<p><code>zone.js</code> is stored in <code>polyfills.bundle.js</code>,<br>
<code>aframe-master.js</code> is stored and loaded in <code>scripts.bundle.js</code> and<br>
all other node_modules from package.json is stored in <code>vendor.bundle.js</code>.<br>
The error is thrown when we try to auto-load A-Frame inside <code>scripts.bundle.js</code>.</p>
<p>The common pattern is again that A-Frame is loaded after zone.js.</p>
<p>Sample <a href="https://github.com/rasor/ng-maze-vr-blank/tree/cd0fd787cb4aa9dcc287925e2ddd9310e7b837ab">ng-maze-vr-blank/commit 5</a> demonstrates the error.  </p>
<h3>Solution attempt #2.2</h3>
<p><code>scripts.bundle.js</code> is loaded after <code>polyfills.bundle.js</code></p>
<p>As the blog ´<a href="https://medium.com/@pitipon/a-frame-with-angular-setup-project-5797b2f2a03b">A-frame with Angular</a>´ told you, you needed to load A-Frame before zone.js.  </p>
<p>So this time we go one more level up to polyfills.</p>
<ul>
<li>Remove the scripts in <code>.angular-cli.json</code> (or just rename the scripts property)</li>
</ul>
<div class="highlight"><pre><span></span><span class="l l-Scalar l-Scalar-Plain">// --- .angular-cli.json ---</span> 
  <span class="l l-Scalar l-Scalar-Plain">&quot;apps&quot;</span><span class="p p-Indicator">:</span> <span class="p p-Indicator">[</span>
    <span class="p p-Indicator">{</span>
      <span class="s">&quot;someUnusedScripts&quot;</span><span class="p p-Indicator">:</span> <span class="p p-Indicator">[</span>
        <span class="s">&quot;../node_modules/aframe/dist/aframe-master.js&quot;</span><span class="p p-Indicator">,</span>
        <span class="s">&quot;../node_modules/aframe-extras/dist/aframe-extras.min.js&quot;</span>
      <span class="p p-Indicator">],</span>
</pre></div>


<ul>
<li>Add aframe to polyfills before zone.js</li>
</ul>
<div class="highlight"><pre><span></span><span class="c1">// --- src/polyfills.ts ---</span>
<span class="c1">// Load aframe before zone.js</span>
<span class="kr">import</span> <span class="s1">&#39;aframe&#39;</span><span class="p">;</span>
<span class="kr">import</span> <span class="s1">&#39;aframe-extras&#39;</span><span class="p">;</span>
<span class="kr">import</span> <span class="s1">&#39;zone.js/dist/zone&#39;</span><span class="p">;</span>  <span class="c1">// Included with Angular CLI.</span>
</pre></div>


<h3>Result #2.2</h3>
<p>Now A-Frame is loaded in <code>polyfills.bundle.js</code> before zone.js and A-Frame content is rendered  </p>
<p><img alt="Aframe loaded from polyfills.bundle.js" src="img/2018/2018-03-29-Ng-cli.PNG"></p>
<p>Sample <a href="https://github.com/rasor/ng-maze-vr-blank/tree/d15d7271277ba6b8bc5c16fc35bd06d8497569f2">ng-maze-vr-blank/commit 6</a> shows the result.  </p>
<h2>Problem #3 - Some A-Frame extras doesn't render</h2>
<p>If you want to replace the floor <code>&lt;a-plane&gt;</code> with the floor from A-Frame extras <code>&lt;a-grid&gt;</code> you can't see it. This happens with following change:  </p>
<div class="highlight"><pre><span></span><span class="c">&lt;!-- src/app/components/aframe-vr.component.html --&gt;</span>
  <span class="c">&lt;!-- &lt;a-plane position=&quot;0 -1 -4&quot; rotation=&quot;-45 0 0&quot; width=&quot;15&quot; height=&quot;80&quot; color=&quot;#7BC8A4&quot;&gt;&lt;/a-plane&gt; --&gt;</span>
  <span class="p">&lt;</span><span class="nt">a-grid</span> <span class="na">position</span><span class="o">=</span><span class="s">&quot;0 -1 -4&quot;</span> <span class="na">rotation</span><span class="o">=</span><span class="s">&quot;-90 0 0&quot;</span> <span class="na">static-body</span> <span class="na">width</span><span class="o">=</span><span class="s">&quot;15&quot;</span> <span class="na">height</span><span class="o">=</span><span class="s">&quot;80&quot;</span> <span class="na">color</span><span class="o">=</span><span class="s">&quot;#7BC8A4&quot;</span><span class="p">&gt;&lt;/</span><span class="nt">a-grid</span><span class="p">&gt;</span>
</pre></div>


<h3>Solution #3</h3>
<p>Now we will move loading of A-Frame even further up from polyfills to the <code>&lt;head&gt;</code>  </p>
<ul>
<li>Remove A-Frame from polyfills</li>
</ul>
<div class="highlight"><pre><span></span><span class="c1">// --- src/polyfills.ts ---</span>
<span class="c1">// Load aframe before zone.js</span>
<span class="c1">//import &#39;aframe&#39;;</span>
<span class="c1">//import &#39;aframe-extras&#39;;</span>
<span class="kr">import</span> <span class="s1">&#39;zone.js/dist/zone&#39;</span><span class="p">;</span>  <span class="c1">// Included with Angular CLI.</span>
</pre></div>


<ul>
<li>In Ng Cli config copy A-Frame dist to assets  </li>
</ul>
<div class="highlight"><pre><span></span><span class="l l-Scalar l-Scalar-Plain">// --- .angular-cli.json ---</span> 
  <span class="l l-Scalar l-Scalar-Plain">&quot;apps&quot;</span><span class="p p-Indicator">:</span> <span class="p p-Indicator">[</span>
    <span class="p p-Indicator">{</span>
      <span class="s">&quot;assets&quot;</span><span class="p p-Indicator">:</span> <span class="p p-Indicator">[</span>
        <span class="p p-Indicator">{</span> <span class="s">&quot;glob&quot;</span><span class="p p-Indicator">:</span> <span class="s">&quot;**/*&quot;</span><span class="p p-Indicator">,</span> <span class="s">&quot;input&quot;</span><span class="p p-Indicator">:</span> <span class="s">&quot;../node_modules/aframe/dist&quot;</span><span class="p p-Indicator">,</span> <span class="s">&quot;output&quot;</span><span class="p p-Indicator">:</span> <span class="s">&quot;./assets/lib/aframe/dist/&quot;</span> <span class="p p-Indicator">},</span>
        <span class="p p-Indicator">{</span> <span class="s">&quot;glob&quot;</span><span class="p p-Indicator">:</span> <span class="s">&quot;**/*&quot;</span><span class="p p-Indicator">,</span> <span class="s">&quot;input&quot;</span><span class="p p-Indicator">:</span> <span class="s">&quot;../node_modules/aframe-extras/dist&quot;</span><span class="p p-Indicator">,</span> <span class="s">&quot;output&quot;</span><span class="p p-Indicator">:</span> <span class="s">&quot;./assets/lib/aframe-extras/dist/&quot;</span> <span class="p p-Indicator">}</span>
      <span class="p p-Indicator">],</span>
</pre></div>


<p><em>Link: Copy assets via <a href="https://github.com/angular/angular-cli/wiki/stories-asset-configuration">angular-cli</a></em></p>
<ul>
<li>In index.html head load A-Frame + extras  </li>
</ul>
<div class="highlight"><pre><span></span><span class="c">&lt;!-- src/index.html --&gt;</span>
<span class="p">&lt;</span><span class="nt">head</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">script</span> <span class="na">src</span><span class="o">=</span><span class="s">&quot;assets/lib/aframe/dist/aframe-master.js&quot;</span><span class="p">&gt;&lt;/</span><span class="nt">script</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">script</span> <span class="na">src</span><span class="o">=</span><span class="s">&quot;assets/lib/aframe-extras/dist/aframe-extras.min.js&quot;</span><span class="p">&gt;&lt;/</span><span class="nt">script</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">head</span><span class="p">&gt;</span>
</pre></div>


<h3>Result #3 - Commit 7</h3>
<p>Now A-Frame is loaded already in the <code>&lt;head&gt;</code> before <code>polyfills.bundle.js</code> and also <code>&lt;a-grid&gt;</code> is rendered  </p>
<p><img alt="Aframe loaded from head" src="img/2018/2018-03-29-Ng-cli2.PNG"></p>
<p>Sample <a href="https://github.com/rasor/ng-maze-vr-blank/tree/4f666ce66cf74e211ee06df0f019b528723c2398">ng-maze-vr-blank/commit 7</a> shows the result.  </p>
<h2>Problem #4 - When using <code>&lt;script&gt;</code> for loading, then @types are not loaded and you cannot use the types in code</h2>
<p>Having the libraries loaded now I want to use them in code. Example:</p>
<div class="highlight"><pre><span></span><span class="kr">class</span> <span class="nx">VrBox</span> <span class="p">{</span>
  <span class="nx">position</span>: <span class="kt">string</span><span class="p">;</span>

  <span class="kr">constructor</span><span class="p">(</span><span class="nx">pos</span>: <span class="kt">AFrame.Coordinate</span><span class="p">)</span> <span class="p">{</span>
    <span class="k">this</span><span class="p">.</span><span class="nx">position</span> <span class="o">=</span> <span class="nx">AFRAME</span><span class="p">.</span><span class="nx">utils</span><span class="p">.</span><span class="nx">coordinates</span><span class="p">.</span><span class="nx">stringify</span><span class="p">(</span><span class="nx">pos</span><span class="p">);</span>
  <span class="p">}</span>
<span class="p">}</span>
</pre></div>


<p>WebPack complains:</p>
<div class="highlight"><pre><span></span>error TS2552: Cannot find name &#39;AFRAME&#39;. Did you mean &#39;frames&#39;
error TS2503: Cannot find namespace &#39;AFrame&#39;.
</pre></div>


<h3>Solution #4a</h3>
<p>If you did not have the @types/aframe you could define the types yourself</p>
<div class="highlight"><pre><span></span><span class="kr">declare</span> <span class="kd">var</span> <span class="nx">AFRAME</span>: <span class="kt">any</span><span class="p">;</span> 
<span class="kr">declare</span> <span class="nx">namespace</span> <span class="nx">AFrame</span><span class="p">{</span>
  <span class="kr">interface</span> <span class="nx">Coordinate</span><span class="p">{}</span>
<span class="p">}</span> 
</pre></div>


<h3>Solution #4b</h3>
<p>But since you have the @types/aframe you instead just can import them</p>
<div class="highlight"><pre><span></span><span class="c1">// src/app/components/aframe-vr.component.ts</span>
<span class="c1">/// &lt;reference types=&quot;aframe&quot; /&gt;</span>
<span class="c1">// Above ref is needed when aframe is loaded from &lt;script&gt; instead of</span>
<span class="c1">// import &#39;aframe&#39;;</span>
<span class="c1">// It will use the types from @types/aframe</span>
</pre></div>


<h3>Result #4 - Commit 10</h3>
<p>Now we can use A-Frame library in our code.</p>
<p>Sample <a href="https://github.com/rasor/ng-maze-vr-blank/tree/7535b3cca27f3354b061deff21005c863907b06e">ng-maze-vr-blank/commit 10</a> shows the result.  </p>
<h2>Problem #5 - A-Frame doen't work with Angular binding</h2>
<p>Next up is to use Angular binding. In this case I want to create <code>&lt;a-box&gt;</code>'s from a list of data.<br>
Looping through the list with <code>*ngFor</code> is not a problem, but setting the position proporty does not work.  </p>
<p>In the view a <code>div</code> on top of A-Frame demonstrates how <code>*ngFor</code> sets a property.<br>
But in the <code>a-scene</code> the same way of binding does not work. The created <code>&lt;a-box&gt;</code> is put in position "0 0 0". You have to go backwards to see the box. It is behind you.</p>
<div class="highlight"><pre><span></span><span class="c">&lt;!-- src/app/components/aframe-vr.component.html --&gt;</span>
<span class="p">&lt;</span><span class="nt">div</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;box&quot;</span> <span class="err">*</span><span class="na">ngFor</span><span class="o">=</span><span class="s">&quot;let b of vrBoxes&quot;</span> <span class="err">[</span><span class="na">title</span><span class="err">]=&quot;</span><span class="na">b</span><span class="err">.</span><span class="na">position</span><span class="err">&quot;</span><span class="p">&gt;</span>I am a div {{b.position}}<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">a-scene</span> <span class="err">#</span><span class="na">scene</span><span class="p">&gt;</span>
  <span class="c">&lt;!-- &lt;a-box position=&quot;-1 0.5 -4&quot; scale=&quot;0.25 0.5 1&quot; rotation=&quot;-45 0 0&quot; color=&quot;#4CC3D9&quot;&gt;&lt;/a-box&gt; --&gt;</span>
  <span class="p">&lt;</span><span class="nt">a-box</span> <span class="err">*</span><span class="na">ngFor</span><span class="o">=</span><span class="s">&quot;let b of vrBoxes&quot;</span> <span class="err">[</span><span class="na">position</span><span class="err">]=&quot;</span><span class="na">b</span><span class="err">.</span><span class="na">position</span><span class="err">&quot;</span> <span class="na">scale</span><span class="o">=</span><span class="s">&quot;0.25 0.5 1&quot;</span> <span class="na">rotation</span><span class="o">=</span><span class="s">&quot;-45 0 0&quot;</span> <span class="na">color</span><span class="o">=</span><span class="s">&quot;#4CC3D9&quot;</span><span class="p">&gt;&lt;/</span><span class="nt">a-box</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">a-scene</span><span class="p">&gt;</span>
</pre></div>


<p><img alt="Angular binding not working with Aframe" src="img/2018/2018-03-29-Ng-cli3.PNG">  </p>
<p>Sample <a href="https://github.com/rasor/ng-maze-vr-blank/tree/f2933d4d324036c99df2739fb266c7cf5af21dea">ng-maze-vr-blank/commit 11</a> demonstrates this situation.  </p>
<h3>So what are the options?</h3>
<p>Initially I picked options like these:</p>
<ul>
<li>Create an Angular wrapper component.<br>
<a href="https://github.com/zefoy/ngx-ace-wrapper">zefoy/ngx-ace-wrapper</a> is an example of a wrapper.<br>
ZEF has a handfull of <a href="https://github.com/zefoy?utf8=%E2%9C%93&amp;q=wrapper&amp;type=&amp;language=">other wrappers</a></li>
<li>Publish to npm: <a href="https://medium.com/@nikolasleblanc/building-an-angular-4-component-library-with-the-angular-cli-and-ng-packagr-53b2ade0701e">Building an Angular 4 Component Library with the Angular CLI and ng-packagr</a></li>
<li>Create a Web Component wrapper component<br>
<a href="https://www.joshmorony.com/publishing-a-web-component-using-stencil-and-using-it-anywhere/">Publishing a Web Component Using Stencil (And Using It Anywhere)</a></li>
<li>Build and use a Web Component from Angular: <a href="https://github.com/seveves/angular-stencil">seveves/angular-stencil</a></li>
</ul>
<p>The first attempt I did was to look at the <a href="https://github.com/seveves/angular-stencil">seveves/angular-stencil</a> repo and tried to see if I could bind A-Frame in a Stencil web component.
That attempt failed. Repo is here: <a href="https://github.com/rasor/stencil-aframe">rasor/stencil-aframe</a>.<br>
Notice: In that repo I am using the latest version of A-Frame: 0.8.0.</p>
<p>Angular components builds on the web components-way of doing things - e.g. using ShaowDom. So I think, when binding with web components does not work, then I should not expect to getting it to work in Angular either. </p>
<h3>So what are the options, when ShadowDom does not play well with A-Frame?</h3>
<p>Well <a href="https://github.com/trusktr">trusktr</a> actually found a way <a href="https://github.com/aframevr/aframe/issues/1492#issuecomment-324124434">to deal with Shadow DOM</a>, which he find easy, but to me is protocol workaround - a low level protocol change, which should not be necessary to twist as library a user.  </p>
<h3>So when I don't want to make ShadowDOM workaround, then what are the options?</h3>
<ul>
<li>Use <a href="https://github.com/trusktr">trusktr</a>s <a href="https://infamous.io/docs/index.html">Infamous</a> library (<a href="https://github.com/trusktr/infamous">repo here</a>) instead of A-Frame. Infamous supports Web Components (and Angular).</li>
<li>A-Frames creator <a href="https://github.com/ngokevin">ngokevin</a> recommends using NunJucks/Static Templating:</li>
</ul>
<blockquote>
<p>I currently recommend using vanilla A-Frame and <a href="https://www.npmjs.com/package/aframe-state-component">aframe-state-component</a> with <a href="https://mozilla.github.io/nunjucks/">static templating</a> over <a href="https://github.com/ngokevin/aframe-react">aframe-react</a>.</p>
</blockquote>
<p>To be continued...</p>
<hr>
<h2>Links</h2>
<ul>
<li>Declare lib + plugin and load globally in <a href="https://github.com/angular/angular-cli/wiki/stories-global-scripts">angular-cli</a></li>
<li>More on zone.js: <a href="https://medium.com/@MertzAlertz/what-the-hell-is-zone-js-and-why-is-it-in-my-angular-2-6ff28bcf943e">What the hell is Zone.js and why is it in my Angular 2?</a></li>
<li>Lots of other <a href="https://github.com/angular/angular-cli/wiki/stories">Angular CLI tricks</a></li>
<li><a href="https://github.com/angular/angular-cli/wiki/angular-cli">Angular CLI Config Schema</a></li>
<li><a href="https://www.typescriptlang.org/docs/handbook/compiler-options.html">TypeScript Compiler Options</a></li>
</ul>
<p>The End</p>
  </div>
  <div class="tag-cloud">
    <p>
      <a href="https://rasor.github.io/tag/ng.html">#ng</a>
      <a href="https://rasor.github.io/tag/aframe.html">#aframe</a>
      <a href="https://rasor.github.io/tag/webpack.html">#webpack</a>
      <a href="https://rasor.github.io/tag/vr.html">#vr</a>
    </p>
  </div>



    <div class="addthis_relatedposts_inline">


</article>

    <footer>
<p>
  &copy; rasor 2017 - This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>
</p>
<p>    Powered by <a href="http://getpelican.com" target="_blank">Pelican</a> - <a href="https://github.com/alexandrevicenzi/flex" target="_blank">Flex</a> theme by <a href="http://alexandrevicenzi.com" target="_blank">Alexandre Vicenzi</a>
</p><p>
  <a rel="license"
     href="http://creativecommons.org/licenses/by-sa/4.0/"
     target="_blank">
    <img alt="Creative Commons License"
         title="Creative Commons License"
         style="border-width:0"
         src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png"
         width="80"
         height="15"/>
  </a>
</p>    </footer>
  </main>




<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Blog",
  "name": " Rasor's Tech Blog ",
  "url" : "https://rasor.github.io",
  "image": "//s.gravatar.com/avatar/5b6cf6c4e0fa216452dccc8158bf673f?s=120",
  "description": ""
}
</script>

</body>
</html>